
h1 {
    font-size: 40px;
    color: red;
    background-color: purple;
}

h4 {
    color: white;
    background-color: lightblue;
}

p {
    border: 2px dashed green;
    height: 200px;
    width: 600px;
    padding: 30px;
    font-size: 16px;
    font-family: Verdana;
    font-weight: bold;
    color: green;

}

.image-container {
    position: relative;
    width: 170px; /* Optional: Makes the container full width */
}

.picture {
    max-width: 150px; /* Ensures images don't exceed their container width */
    height: 170px;
    
}

.picture.float-right {
    float: right; /* Aligns the image to the right side */
    margin-left: 1000px; /* Adds some space between the text and the image */
    margin-top: 10px; /* Adds space between the image and the paragraph */
    max-width: 250px; /* Optionally, control the width of the image */
}



